@import "../abstracts";

.resume-link {
  padding: 0.5rem 2rem;
  color: white;
  border: none;
  border-radius: 100rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  background-color: $secondary-color;
  i {
    font-size: 1rem;
  }
  &:hover,
  :focus,
  :active {
    background-color: lighten($secondary-color, 20%);
  }
}
