.footer {
  background-color: #0d1821;
  padding: 2rem;
  text-align: center;
  .alt-link {
    display: inline-flex;
    align-items: center;
    border: none;
    margin: 0 2rem;
    color: #ccc;
    i {
      margin-right: 1rem;
    }
    &:hover {
      background-color: transparent;
      color: white;
    }
  }
  a,
  a:visited {
    color: #aaa;
  }
  a:hover {
    color: white;
  }
  .credit {
    color: white;
    margin-top: 1rem;
    a {
      color: white;
    }
  }
}

@media (max-width: 710px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 25rem;
    padding-bottom: 8rem;
    .credit {
      margin-top: 0;
    }
  }
}
