@import "../abstracts";

body {
  font-family: "Open Sans", sans-serif;
  color: $font-face-color;
  line-height: 2rem;
  letter-spacing: 1px;
  transition: 0.65s background-color ease-out;
}

h1,
h2 {
  color: black;
}

h1 {
  font-size: 4rem;
  line-height: 4.5rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

a {
  border-bottom: 3px solid $primary-color;
  text-decoration: none;
  padding: 0 0.125rem;
  font-weight: bold;
  transition: 0.25s;
  color: $font-face-color;

  &:not(.plain):visited {
    color: $font-face-color;
  }

  &:not(.plain):hover {
    background-color: $primary-color;
    color: white;
  }

  // &[class="plain"] {
  //   background-color: transparent;
  //   border: none;
  //   &:hover {
  //     background-color: transparent;
  //     color: default;
  //   }
  // }
}

a.plain {
  background-color: transparent;
  border: none;
  &:hover {
    background-color: transparent;
  }
}

strong {
  font-weight: bold;
  color: $primary-color;
}

section h2 {
  margin-bottom: 4rem;
}

.skills h3 {
  margin-bottom: 1rem;
}

i {
  font-size: 3rem;
}

span[class="primary"] {
  color: $primary-color;
}

.form-error {
  color: red;
  font-size: 0.75rem;
  // &::before {
  //   content: "(";
  // }
  // &::after {
  //   content: ")";
  // }
}

@media (max-width: 1130px) {
  h2 {
    text-align: center;
  }
}
