// Variables

$primary-color: #00c4f5;
$secondary-color: #d0253c;
$font-face-color: #444444;

$primary-color-dark: #826aed;
$secondary-color-dark: #136f63;
$font-face-color-dark: #c9d1d9;

$sun-color: #f28f3b;
$moon-color: #1b4079;

///////////////////////////////